<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-unvired-sdk" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>UnviredSDK</name>
    <js-module name="UnviredSDK" src="www/kernel.js">
        <clobbers target="ump" />
    </js-module>

     <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/KernelProxy.js" name="KernelProxy">
            <runs />
        </js-module>
        <framework src="src/windows/Unvired.Cordova.WinRT.winmd" custom="true"/>
    </platform>
    
    <platform name="browser">
    <config-file target="config.xml" parent="/*">
        <feature name="LoginPlugin">
            <param name="browser-package" value="LoginPlugin" />
        </feature>
        <feature name="LoggerPlugin">
            <param name="browser-package" value="LoggerPlugin" />
        </feature>
        <feature name="SyncEnginePlugin">
            <param name="browser-package" value="SyncEnginePlugin" />
        </feature>
        <feature name="SettingsPlugin">
            <param name="browser-package" value="SettingsPlugin" />
        </feature>
        <feature name="AttachmentPlugin">
            <param name="browser-package" value="AttachmentPlugin" />
        </feature>
    </config-file>
    <js-module src="src/browser/UnviredPluginProxy.js" name="UnviredPluginProxy">
        <runs />
    </js-module>
    <asset src="src/browser/jquery-3.2.1.js" target="../../../src/assets/js/jquery-3.2.1.js"/>
    <asset src="src/browser/bootstrap.min.js" target="../../../src/assets/js/bootstrap.min.js"/>
    <asset src="src/browser/sql.js" target="../../../src/assets/js/sql.js"/>
    <asset src="src/browser/codemirror.js" target="../../../src/assets/js/codemirror.js"/>
    <asset src="src/browser/sql-wasm.wasm" target="../../../src/assets/js/sql-wasm.wasm"/>
</platform>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="DatabasePlugin">
                <param name="android-package" value="com.unvired.plugin.AndroidDatabasePlugin" />
            </feature>
            <feature name="LoggerPlugin">
                <param name="android-package" value="com.unvired.plugin.AndroidLoggerPlugin" />
            </feature>
            <feature name="SyncEnginePlugin">
                <param name="android-package" value="com.unvired.plugin.AndroidSyncEnginePlugin" />
            </feature>
            <feature name="SettingsPlugin">
                <param name="android-package" value="com.unvired.plugin.AndroidSettingsPlugin" />
            </feature>
            <feature name="LoginPlugin">
                <param name="android-package" value="com.unvired.plugin.AndroidLoginPlugin" />
            </feature>
            <feature name="AttachmentPlugin">
                <param name="android-package" value="com.unvired.plugin.AndroidAttachmentPlugin" />
            </feature>            
        </config-file>

        <config-file target="AndroidManifest.xml" parent="application">
	    <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true" >
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
            </provider>
        </config-file>
	    
	    <config-file target="AndroidManifest.xml" parent="application">
	        <service android:name="com.unvired.fcm.UnviredFCMMessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="application">
	        <activity android:name="com.unvired.ui.ServerErrorMessageActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="application">
	        <activity android:name="com.unvired.ui.VersionUpgradeActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        </config-file>

	    
	<source-file src="src/android/xml/provider_paths.xml" target-dir="res/xml"/>

        <!--To refer .aar files-->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <resource-file src="aar/Unvired_Kernel_Android.aar" target="libs/Unvired_Kernel_Android.aar" />
        <resource-file src="aar/Unvired_Kernel_HTML5_Android.aar" target="libs/Unvired_Kernel_HTML5_Android.aar" />
           
        <framework src='com.android.support:cardview-v7:28.0.0'/>
        <framework src='com.android.support:recyclerview-v7:28.0.0'/>
        <framework src='com.android.support:appcompat-v7:28.0.0'/>
        <framework src='com.android.support:design:28.0.0'/>
        <framework src='com.google.android.gms:play-services-location:16.0.0'/>
        <framework src='com.google.firebase:firebase-messaging:19.0.0'/>
        <framework src='com.google.firebase:firebase-core:17.0.0'/>
        <framework src='net.zetetic:android-database-sqlcipher:4.0.1@aar'/>
	
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="LoggerPlugin">
                <param name="ios-package" value="IOSLoggerPlugin" />
            </feature>
            <feature name="SettingsPlugin">
                <param name="ios-package" value="IOSFWSettingsPlugin" />
            </feature>
            <feature name="DatabasePlugin">
                <param name="ios-package" value="IOSDatabasePlugin" />
            </feature>
            <feature name="SyncEnginePlugin">
                <param name="ios-package" value="IOSSyncEnginePlugin" />
            </feature>
            <feature name="LoginPlugin">
                <param name="ios-package" value="IOSLoginPlugin" />
            </feature>
            <feature name="AttachmentPlugin">
                <param name="ios-package" value="AttachmentPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/IOSAuthPlugin.h"/>
        <header-file src="src/ios/IOSDatabasePlugin.h"/>
        <header-file src="src/ios/IOSFWSettingsPlugin.h"/>
        <header-file src="src/ios/IOSLoggerPlugin.h"/>
        <header-file src="src/ios/IOSLoginPlugin.h"/>
        <header-file src="src/ios/IOSSyncEnginePlugin.h"/>
        <header-file src="src/ios/UnviredFrameworkUtils.h"/>
        <header-file src="src/ios/AttachmentPlugin.h"/>
        <framework src="UnviredCordovaSDK" type="podspec" spec="~> 3.0.177" />
        <hook src="update_pods.sh" type="before_platform_add" />
        <hook src="run_pods.sh" type="after_platform_add" />
    </platform>
</plugin>
