page-person-detail {

  .outer-div {
  margin:0;
  width: 100% !important;
  }

  .label {
      color: darkgray;
      margin-left: 10px;
  }

  .value {
    margin-left: 10px;
  }

  .container1-div {
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
  }

  .container2-div {
    margin-top: 25px;
    border-radius: 5px;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
  }
} 
