<ion-header>
  <ion-toolbar>
    <ion-title style="color:white">Unvired SAP Sample</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" class="nav-header" (click)="menuButtonClicked()">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-item-group *ngFor="let contact of contactHeaders">
    <ion-item-divider color="light" class="header" sticky>{{contact.section}}</ion-item-divider>
    <ion-item *ngFor="let person of contact.personHeaders" (click)="viewPersonDetail(person)">
      <ion-label>{{person.FIRST_NAME}} {{person.LAST_NAME}}</ion-label><br>
      <ion-label style="color:darkgray">{{person.PERSNUMBER}}</ion-label>
    </ion-item>
  </ion-item-group>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button style="color: #214564;" (click)="addButtonClicked()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
